git+https://github.com/Pycord-Development/pycord@master
pymongo==3.11.4
aiohttp==3.8.3
async-timeout==4.0.2
chardet==3.0.4
yarl==1.8.1
attrs==22.1.0
dnspython==2.1.0
sleeper-api-wrapper==1.0.7
apscheduler==3.6.3
pytz==2022.7
six==1.16.0
setuptools==65.6.3
tzlocal==2.1
pendulum==2.1.2
pytzdata==2020.1
beautifulsoup4==4.11.1
soupsieve==2.3.2.post1