py-cord==2.4.1
pymongo==4.3.3
aiohttp==3.8.4
async-timeout==4.0.2
chardet==3.0.4
yarl==1.8.2
attrs==22.1.0
dnspython==2.3.0
sleeper-api-wrapper==1.0.7
apscheduler==3.10.1
pytz==2022.7
six==1.16.0
setuptools==66.0.0
tzlocal==4.3
pendulum==2.1.2
pytzdata==2020.1
beautifulsoup4==4.12.2
soupsieve==2.4
nfl_data_py==0.3.0